.App {
  text-align: center;
 

}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color:black;
  height: 100vh;
  font-size: calc(9px + 1vmin);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightskyblue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box{
  position: relative;
  top: 5vh;
  width: 1px;
  height: 1px;
  transition: all .5s;
  
}
.item{
  position: absolute;
  right: 0;
  top: -1rem;
  text-align: right;
  line-height: 2rem;
  opacity: .7;
  transition: all .5s;
}
.item.active{
  opacity: 1;
  font-size:1.4rem;
  color: lightgreen;
}
.month{
  width: 200px;
  right: -100px;
}


.day{
  width: 490px;
  right: -250px;
}

.week{
  width: 360px;
  right: -180px;
}

.hour{
  width: 610px;
  right: -310px;
}
.Minute{
  width: 800px;
  right: -400px;
}
.second{
  width: 960px;
  right: -480px;
}


.msg{
  position: absolute;
  font-weight: bold;
  color: limegreen;
  top: 2rem;
  left: 2rem;
  text-align: center;
  line-height: 2rem;
  width: 10vw;
}
.msg div{
  opacity: .8;
}
.msg .year{
  margin-bottom: 1rem;
  opacity: 1;
}

.msg .year span{
  font-size: 2rem;
}

.M_month{
  /* position: absolute; */
  top: 2 rem;
  /* right: 2rem;
  bottom: 2rem; */
  font-size: 2rem;
}
